@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
:root{
  --highPr-color: rgb(153, 0, 31);
  --midPri-color: rgb(179, 129, 3);
  --lowPri-color: rgb(3, 105, 179);
  --saveBtn-color: #0F884E;
  --cancelBtn-color: #838383;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.todoComponent{
  margin-bottom: 22px;
  padding: 15px 20px;
  background-color: #E5E7E4;
  display: flex;
  /*
  justify-content: space-between;
  align-items: center;
  */
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.topSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.botSection{

  height: 100%;
  display: flex;
  flex-direction: column;
}

.descInput{
  resize: none;
  overflow: hidden;
  min-height: 10px; 
  max-height: 8000px; 
}

.hideBottomSection{
  max-width: 1600px;
  display: block;
  transition: 250ms;
  height: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.buttonsContainer{
  display: flex;
  justify-content: space-between;
}

.leftBtns > button, .rightBtns > button{
  padding: 8px 15px;
  border-radius: 84px;
  margin: 5px;
  font-size: 15px;
  font-weight: bolder;
  &:hover{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  }
  &:active{
    color: white;
    /* filter: brightness(0.85); */
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
  }
}

.lowPriorityBtn{
  color: var(--lowPri-color);
  border: 2px solid var(--lowPri-color);
  &:hover{
    background-color: var(--lowPri-color);
    color: white;
  }
}

.midPriorityBtn{
  color: var(--midPri-color);
  border: 2px solid var(--midPri-color);
  &:hover{
    background-color: var(--midPri-color);
    color: white;
  }
}

.highPriorityBtn{
  color: var(--highPr-color);
  border: 2px solid var(--highPr-color);
  &:hover{
    background-color: var(--highPr-color);
    color: white;
  }
}

.saveBtn{
  color: var(--saveBtn-color);
  border: 2px solid var(--saveBtn-color);
  &:hover{
    background-color: var(--saveBtn-color);
    color: white;
  }
}

.cancelBtn{
  color: var(--cancelBtn-color);
  border: 2px solid var(--cancelBtn-color);
  &:hover{
    background-color: var(--cancelBtn-color);
    color: white;
  }
}



.highPriority{
  border-left: solid 13px var(--highPr-color);
}

.midPriority{
  border-left: solid 13px var(--midPri-color);
}

.lowPriority{
  border-left: solid 13px var(--lowPri-color);
}

.leftSection, .rightSection{
  display: flex;
  gap: 5px;
}

.todoTitle{
  font-weight: bolder;
  font-size: 24px;
  &:hover{
    cursor: pointer;
  }
}

.botSection:hover{
  cursor: pointer;
}


#dashboard{
  display: grid;
  grid-template-areas: 
  "header header    header"
  "nav    content   content"
  "footer footer    footer";
  height: 100vh;
  width: 100%;
  grid-template-rows: 80px 1fr 80px ;
  grid-template-columns: 250px 1fr;
  
}

nav{
  background-color: #1081B7;
  grid-area: nav;
  box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.25);
}

header{
  background-color: #006494;
  grid-area: header;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitle{
  color: white;
  font-size: 35px;
}

main{
  background-color: #DDDDDD;
  grid-area: content;
  padding: 50px;
}

footer{
  background-color: #004566;
  grid-area: footer;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

#topContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#newTodoBtn, #newProjectBtn{
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 15px;
  height: fit-content;
  background-color: rgb(15, 138, 79);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.05),0px 2px 2px -1px rgba(0,0,0,0.1),inset 0px -1px 4px 0px rgba(0,0,0,0.05);
  border: none;
  border-top: 1px solid rgba(15, 138, 79, 0.7);
  border-bottom: 1px solid rgba(15, 138, 79, 0.7);
  
  &:hover{
    background-color: #109756;
    cursor: pointer;
  }
  &:active{
    background-color: #0d7543;
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
  }
}

button:hover{
  cursor: pointer;
}

#navigationContainer{
  display: flex;
  padding-top: 50px;
  gap: 25px;
  align-items: center;
  flex-direction: column;
}

.navElement{
  font-size: 20px;
  color: white;
  font-weight: bold;
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}

#navTopContainer, #navProjectsContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#navProjects{
  font-size: 35px;
  cursor: default;
  text-decoration: none;
}